.img-fluid {
    max-width: 100%;
    height: auto;
}

.chakra-accordion__panel::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */

.chakra-accordion__panel {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
